/* You can add global styles to this file, and also import other style files */
body{
    background: rgb(116,0,0);
background: linear-gradient(137deg, rgba(116,0,0,1) 52%, rgba(201,17,17,1) 52%, rgba(105,0,0,1) 100%);
background-size: static;
}